*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

header{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./bakgrunn.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
p{
  font-size: 2vw;
}
.main{
  max-width: 97vw;
  margin: auto;
}

.nav a{
  float: left;
  text-decoration: none;
  transition: 0.5s ease;
  text-align: center;
  color: white;
  width: 25%;
  font-size: 1.5vw;

}
.nav a.active {
  background-color: lightgrey;
  color: black;
}

.nav a:hover{
  background-color: lightgrey;
  color: black;
}
.nav{
  float: right;
  overflow: hidden;
  margin-top: 28px;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  float: left;
  transform: translate(-50%, -50%);

}
.title h1{
  color: white;
  margin-left:  8vw;
  font-size: 5vw;

}
.title h2{
  color: white;
  font-size: 3vw;

}
.ansatttittel{
  position: absolute;
  top: 50%;
  left: 50%;
  float: left;
  transform: translate(-50%, -50%);

}
.ansatttittel h1{
  color: white;
  font-size: 5vw;
}
.logo{
  float: left;

}
.logo img{
  float: left;
  width: 15vw;
  height: 15.2vw;
}

.omoss{
  padding: 5vw;
  float: left;
  padding-top: 49vh;
  padding-bottom: 49vh;
}
.omoss h2{
  font-size: 5vw;
}

.omossi{
  float: right;
  padding: 5vw;
  padding-top: 40vh;
  padding-bottom: 40vh;

}
.ansatttekst{
  height: 100vh;
  padding: 3vw;
  float: left;
  padding-top: 40vh;
  
}
.ansatttekst h2{
  font-size: 4vw;
}
.ansattboks{
  height: 100vh;
  float: right;

}
.ansatt{
  float: left;
  height: 33.3vh;
}
.ansatt h3{
  padding-top: 3vh;
  font-size: 2vw;
}
.ansatt p{
  font-size: 1.5vw;
  padding: 1vh;
}

html{
  scroll-behavior: smooth;
}


section.banner{
  background: none;
  background-size: cover;
  text-align: center;
}
a.btn_down{
  text-decoration: none;
  color: #fff;
  position: absolute;
  bottom: 20px;
  left:47vw;
  font-size: 3.5vw;
  border: 2px solid #fff;
  border-radius: 5vw;
  height: 5vw;
  width: 5vw;
  line-height: 5vw;

}
a.btn_down:hover{
  background: #305699;
}

#innovationtittel1{
  color: white;
  margin-left:  1.7vw;
  font-size: 5vw;
}
#innovationtittel2{
  color: white;
  margin-left:  9vw;
  font-size: 5vw;
}
#innovationtittel3{

}

#innovationom{
margin-top: -12vw;
}
.innovationfremtidigplanbilde{
  float: right;
  width: 60vw;
  margin-top: 3vw;
}

[class*="col-"]{
  border: black solid 1px;

}

.row::after{
  content: "";
  clear: both;
  display: table;
}
.col-small15{width: 15%;}
.col-small30{width: 30%;}
.col-small40{width: 40%;}
.col-small50{width: 50%;}
.col-small70{width: 70%;}
.col-small100{width: 100%;}



@media only screen and (max-width: 600px){
  .col-mob30{width: 30%;}
  .col-mob50{width: 50%;}
  .col-mob70{width: 70%;}
  .col-mob100{width: 100%;}
  .logo img{
  margin-left: 32vw;
  width: 30vw;
  height: 30vw;}
  .nav a{width: 25%;
  font-size: 4vw;}
  .title{top: 70%;}
  .omoss{padding: 10vw;
    text-align:center;}
    

}

@media only screen and (min-width: 600px) and (max-width: 990px){
  .col-pad15{width: 15%;}
  .col-pad30{width: 30%;}
  .col-pad40{width: 40%;}
  .col-pad60{width: 60%;}
  .col-pad70{width: 70%;}
  .col-pad100{width: 100%;}
  .logo img{
    width: 30vw;
    height: 30vw;}
  .nav{margin-top: 16vw;}
  .nav a{font-size: 3vw;}
  .title{top: 70%;}
  .omoss h2{
    font-size: 10vw;
  }

}
