*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

header{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./bakgrunn.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
p{
  font-size: 2vw;
}
.main{
  max-width: 97vw;
  margin: auto;
}

.nav a{
  float: left;
  text-decoration: none;
  transition: 0.5s ease;
  text-align: center;
  color: white;
  width: 25%;
  font-size: 1.5vw;

}
.nav a.active {
  background-color: lightgrey;
  color: black;
}

.nav a:hover{
  background-color: lightgrey;
  color: black;
}
.nav{
  float: right;
  overflow: hidden;
  margin-top: 28px;
}

.title{
  padding-top: 60vh;
  padding-left: 32vw;
}
.title h1{
  color: white;
  margin-left:  8vw;
  font-size: 5vw;

}
.title h2{
  color: white;
  font-size: 3vw;

}
.ansatttittel{
  padding-top: 60vh;
  padding-left: 36vw;

}
.ansatttittel h1{
  color: white;
  font-size: 5vw;
}
.logo{
  float: left;

}
.logo img{
  float: left;
  width: 15vw;
  height: 15.2vw;
}
.nede{
  height: 100vh;
}

.omoss{
  padding: 5vw;
  float: left;
  padding-top: 45vh;
  }
.omoss h2{
  font-size: 5vw;
}

.omossi{
  float: right;
  padding: 5vw;
  padding-top: 40vh;
  padding-bottom: 40vh;

}

.ansatttekst{
  padding: 3vw;
  float: left;
  padding-top: 40vh;

}
.ansatttekst h2{
  font-size: 4vw;
}
.ansatttekst h1{
  display: none;
}
.ansattboks{
  float: right;

}
.ansatt{
  padding-top: 1vw;
  float: left;
  height: 33.3vh;
}
.ansatt h3{
  padding-top: 3vh;
  font-size: 2vw;
}
.ansatt p{
  font-size: 1.5vw;
  padding: 1vh;
}
.ansatt img{
  width: 12vw;
  height: 30vh;
  float: left;
}

html{
  scroll-behavior: smooth;
}


section.banner{
  background: none;
  background-size: cover;
  text-align: center;
}
a.btn_down{
  text-decoration: none;
  color: #fff;
  position: absolute;
  bottom: 20px;
  right:6vw;
  font-size: 3.5vw;
  border: 2px solid #fff;
  border-radius: 5vw;
  height: 5vw;
  width: 5vw;
  line-height: 5vw;

}
a.btn_down:hover{
  background: #305699;
}
a.btn_up{
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: -65px;
  left:6vw;
  font-size: 3.5vw;
  border: 2px solid ;
  border-radius: 5vw;
  height: 5vw;
  width: 5vw;
  line-height: 5vw;
}
a.btn_up:hover{
  background: #305699;
}



.nede{
  background: #FFFFFF;
  height: 100vh;

}

.line{
  height: 2px;
  width: 17vw;
  background: #000;
  display: inline-block;
}

.wrapper{
  width: 90vw;
  margin: 0 auto;
}

.sectionh{
  text-align: center;
  margin-bottom: 30px;

}




.sectionh h2{
  text-transform: uppercase;
  font-size: 3vw;
  padding-top: 2vw;
}

.sectionh p{
  font-size: 1.5vw;
}

.contact-left{
  float: left;

}


.contact-left input{
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  padding: 0 15px;
}


.contact-left textarea{
  width: 100%;
  padding: 15px;
}

.contact-right{
  float: right;
  text-align: center;
}

.address-area i{
  font-size: 30px;
  display: block;
  margin: 10px 0;

}
.kontakttittel{
  padding-top: 60vh;
  padding-left: 34vw;

}
.kontakttittel h1{
  color: white;
  font-size: 5vw;
}





.innovationtittel{
  padding-top: 60vh;
  padding-left: 32vw;

}
.innovationtittel h1{
  color: white;
  margin-left:  1.7vw;
  font-size: 5vw;
}
.innovationtittel h2{
  color: white;
  margin-left:  9vw;
  font-size: 5vw;
}

.innovationtittel3{
  padding: 5vw;
  float: left;
  padding-top: 20vh;
}
.innovationtittel3 h2{
  font-size: 4vw;
}
.innovationom{
  padding: 5vw;
  float: left;
  padding-top: 15vh;

}
.innovationfremtidigplanbilde{
  float: left;
  padding-top: 10vh;
}

[class*="col-"]{
  border: black solid 0px;

}

.row::after{
  content: "";
  clear: both;
  display: table;
}


.col-small15{width: 15%;}
.col-small30{width: 30%;}
.col-small40{width: 40%;}
.col-small50{width: 50%;}
.col-small60{width: 60%;}
.col-small70{width: 70%;}
.col-small100{width: 100%;}



@media only screen and (max-width: 600px){
  .col-mob30{width: 30%;}
  .col-mob50{width: 50%;}
  .col-mob70{width: 70%;}
  .col-mob100{width: 100%;}
  .logo img{
  margin-left: 32.5vw;
  width: 30vw;
  height: 30vw;}
  .nav a{width: 25%;
  font-size: 4vw;}
  .omoss{
    padding: 10vw;
    text-align:center;}
  .omoss h2{font-size: 7vw;}  
  .omossi{
    padding-top:0vh;
    padding-bottom: 0vh; 
    padding-left: 20vw;
    padding-right: 20vw;
  } 
  .omossi p{font-size: 4vw;}
  .innovationtittel3{
    padding: 10vw;
    text-align:center;}
  .innovationtittel3 h2{
    font-size: 5vw;}
  .innovationom {padding-top: 5vh;}
  .innovationom p{font-size: 3vw;}
 
  .ansatttekst{
    text-align: center;
    padding-top: 2vw;}
  .ansatt{
    margin-bottom: 10vw;}
  .ansatt img{
    height: 35vh;
    width: 33vw;
    margin-right:33vw; 
    margin-left:33vw;}

  .ansatt p{display: none;}
  
  .sectionh{
  margin-left: 15vw;
  }
  .sectionh h2{
    font-size: 5vw;
  }
  .sectionh p{
    font-size: 3vw;
  }
  .contact-right{
    display: none;}



}

@media only screen and (min-width: 600px) and (max-width: 790px){
  .col-pad15{width: 15%;}
  .col-pad30{width: 30%;}
  .col-pad40{width: 40%;}
  .col-pad60{width: 60%;}
  .col-pad70{width: 70%;}
  .col-pad100{width: 100%;}
  .logo img{
    width: 30vw;
    height: 30vw;}
  .nav{margin-top: 16vw;}
  .nav a{font-size: 3vw;}
  .omoss h2{
    font-size: 10vw;}
  .omossi p{font-size: 3vw;}
  .innovationtittel3 h2{
    font-size: 5vw}
  .innovationom p{font-size: 2.5vw;}
  .ansatttekst h2{
  display:none;}
  .ansatt img{
    height: 30vh;
    width: 17vw;
    }
  .ansatttekst h1{
  display:initial;
  font-size: 4vw;
}



.address-area i{
  font-size: 30px;
  display: block;
  margin: 10px 0;

}
